// Main div class
.banner__company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #736de6;
    // padding: 4px 2px; 
}

// For each individual figure > img
.company__logo{
    width: 100px;
    // margin: 0 10px;
    img{
        width: 100%;
        object-fit: cover;
    }

}

// background for background color of whole section
.bg-company{
    background-color: #736de6;
}

@media screen and (max-width: 575px){
    .banner__company{
        display: none;
    }
}


