.benefit {
    // For the main title of section
    &__header {
        margin: 40px 0 40px 0;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 130% */
        letter-spacing: -0.8px;
    }

    // For card components
    &__wrapper {
        display: flex;
        gap: 1rem;
    }
}
