.container {
  // padding: 40px 80px;
  padding: 0 80px;

  // For small screen
  @media only screen and (max-width: 575) {
    padding: 0;
  }
  

  //For medium screen
  @media only screen and (max-width: 768px) {
    padding: 0 40px;
  }

  //For any large device
  @media screen and (min-width: 1440px) {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}

// background color for purple
.bg-gradient {
  // background: linear-gradient(45deg, #1B13A6 49.59%, #443CDF 88.57%), #FFF;
  background: $primary-color;
}
