// Default Font
$font-family: "Plus Jakarta Sans", sans-serif;

//font sizes
$base-font-size: 16px;
$heading-font-size: 40px;

//colors
// $primary-color: #5d55ff;
$primary-color: linear-gradient(45deg, #1B13A6 49.59%, #443CDF 88.57%), #FFF;
$black: #1d1c31;
$body-text-color: transparentize($black, 0.6);
$white: #ffffff;
$link-color:$black;
