// Default Font
$font-family: "Plus Jakarta Sans", sans-serif;

//font sizes
$base-font-size: 16px;
$heading-font-size: 40px;

//colors
// $primary-color: #5d55ff;
$primary-color: #5D55FF;
$grey:#b6b3eb;
$black: #1d1c31;
$body-text-color: transparentize($black, 0.6);
$white: #ffffff;
$link-color:$black;


