@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: rgba(29, 28, 49, 0.4);
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  color: #1d1c31;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  padding: 0 80px;
}
@media only screen and (max-width: 575) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.bg-gradient {
  background: #5D55FF;
}

.btn {
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
}
.btn.small {
  padding: 12px 24px;
  line-height: 20px;
}
.btn.hero {
  padding: 24px 32px;
}
.btn__transparent {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.btn__transparent:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header {
  background: linear-gradient(65deg, #362FCC 31.84%, #5D55FF 68.16%), var(--white);
  position: sticky;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: normal;
}
.header__logo {
  margin: 0;
}
.header__nav {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
.header__nav--item {
  color: #ffffff;
}
.header__item--btn {
  font-size: 16px;
  line-height: normal;
}
.header__toggle {
  display: none;
}

@media screen and (max-width: 575px) {
  .header__nav--item {
    display: none;
  }
  .header__toggle {
    background: transparent;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__nav--item {
    font-size: 14px;
  }
  .header__nav__item--btn {
    font-size: 16px;
  }
}
.hero {
  display: flex;
  background: linear-gradient(65deg, #362fcc 31.84%, #5d55ff 68.16%), var(--white);
  padding: 5rem 0 5rem 0;
  color: #ffffff;
}
.hero__left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 2rem;
}
.hero__right {
  margin-left: 50px;
}
.hero__title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 125% */
  letter-spacing: -1.12px;
  width: 80%;
}
.hero__info {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}
.hero__action {
  display: flex;
  gap: 2rem;
}
.hero__stat {
  display: flex;
  gap: 1rem;
}
.hero__stat--title {
  display: flex;
  gap: 2rem;
}
.hero__stat--title h1 {
  color: #ffffff;
  font-size: 32px;
}
@media screen and (max-width: 575px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .hero__info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .hero__info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.banner__company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #736de6;
}

.company__logo {
  width: 100px;
}
.company__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-company {
  background-color: #736de6;
}

@media screen and (max-width: 575px) {
  .banner__company {
    display: none;
  }
}
.benefit__header {
  margin: 40px 0 40px 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
  letter-spacing: -0.8px;
}
.benefit__wrapper {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 575px) {
  .benefit__wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */