body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--Header-text, #343d33);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-img,
.text-content ,
.bottom-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 20px;
}

.text-content > h1 {
    color: var(--white, #fff);
    font-family: Libre Baskerville;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 49.5px */
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .text-content > p {
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 10px;
  }
  
  .text-content > a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white, #fff);
  }
  

.top-left-img {
    background-image: url('top-left-image-url');
    background-size: cover;
    height: 200px;
    width: 200px;
}

.top-right-text {
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.bottom-img {
    background-image: url('bottom-image-url');
    background-size: cover;
    height: 200px;
    width: 200px;
}