.header {
  display: flex;
  flex: 0 0 auto;
  
  background: url(../../images/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-color;
  
    // @include row();
    // gap: 10rem;
    justify-content: center;
    align-items: center;
    // align btn and nav
    padding: 20px 0 70px 0;  //maintaining gap from top and bottom
    // overflow: visible;

    &__row {
        display: flex;
        // @include row();
        gap: 5rem;
        // margin-top: 2rem;
    }
    // logo
    &__logo {
        display: flex;
        // @include row();
        flex-direction: column;
        margin-top: 10px;
        &--text{
            color: $white;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &--line {
            width: 100px;
            height: 3px;
            background: #17c2ec;
        }
    }

    // nav
    &__nav {
        display: flex;
        // @include row();
        // gap: 10rem;
        gap: 230px;
        // Pages
        &--left {
            display: flex;
            // @include row();
            // justify-content: center;
            // align-items: center;
            gap: 2rem;
            // to align with btn
            padding-top: 15px;
        }

        //ul 
        &--item{
            color: $grey;
            &:hover{
                color: $white;
            }
        }

        // Btn and toggle
        &--right {
            // display: flex;
            // gap: 2rem;
            align-items: center;
        }

        //btn focus
        &--btn{
            cursor: pointer;
            // margin-bottom: 1rem;
        }
    }

    // Responsive toggle
    &__toggle{
        display: none;
    }
}

// tablet
// @media screen and (max-width:$tablet) {
//     .header{
//         &__row{
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//         }
//     }
// }

// Tablet
@media screen and (max-width: $tablet) {
    .header {
    //   flex-direction: column; 
    //   align-items: center; 
  
      &__row {
        display: flex;
        gap: 20rem; // Reduce the gap between items
      }
  
      // Logo
      &__logo {
        margin-top: 0; // Adjust margin
      }
  
      // Navigation
      &__nav {
        // gap: 3rem;
        display: none;
      }
  
      // Responsive toggle
      &__toggle {
        display: inline-block; // Show the toggle
      }
    }
  }

  @media screen and (max-width:$mobile){
    // Navigation
    .header{
        &__row{
            display: flex;
            gap:14rem;
        }
        &__nav {
        display: none;
  
      // Responsive toggle
      &__toggle {
        display: block; // Show the toggle
      }
  }
}
  }