.header{
    background-color: $primary-color;
    display: flex;
    gap: 10rem;
    
    // 2 nav
    nav{
        display: flex;
        gap: 15rem;
    }

    // nav-left 
    &__nav--left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}