// all the contents in column
.main {
    display: flex;
    // @include row();
    flex-direction: column;
}

.hero {
    // background-color: $primary-color;
    @include main-bg();
    // background: url('../images/main-background.png');
    // background-size: cover;
    // background-repeat: no-repeat;

    // flex
    &__row {
        display: flex;
        gap: 120px;
        // @include row();
        // max-width: 100%;
    }

    //hero left div
    &__left {
        display: flex;
        // @include row();
        flex-direction: column;
        gap: 2.5rem;
        flex-basis: 45%;
    }

    //text above title
    &__above-title {
        font-size: $base-font-size;
        color: $light-blue;
        // max-width: 553px;
        flex-basis: 30%;
    }

    // hero main title
    &__title {
        font-size: $heading-font-size;
        color: $white;
        p {
            color: $light-blue;
        }
    }

    //hero subtitle
    &__subtitle {
        color: $grey;
        max-width: 530px;
    }

    &__button {
        display: flex;
        // @include row();
        gap: 1.25rem;
        margin-bottom: 8.25rem; //for btn and schedule gap
    }

    // hero schedule section
    &__schedule {
        display: flex;
        // @include row();
        align-items: center;
        gap: 1.25rem;
        color: $white;
        &--responsive{
            display: none;
        }
    }

    // hero right div
    &__right {
        display: flex;
        // @include row();
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        position: relative;
        // top: 20px;

        // bottom 3 dr
        &--doctors {
            display: flex;
            // @include row();
            align-items: center;
            position: absolute;
            border-radius: 20px;
            background: rgba(196, 196, 196, 0.2);
            box-shadow:
                0px 4px 4px 0px rgba(0, 0, 0, 0.1),
                0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            top: 543px;
            left: 97px;
            padding: 10px;
            transform: translate(-50%,-50%);

            // gap:5px
        }
    }

    //left small dr img and righ small corona img
    &__block {
        &--left {
            position: absolute;
            // top: 246px;
            top: calc(55% - 100px);
            left: 0px;
            transform: translate(-50%,-50%);
        }
        &--right {
            position: absolute;
            top: calc(55% - 100px);
            right: -100px;
            transform: translate(-50%,-50%);
        }
    }

    // Text of the 3 bottom 3 dr
    &__doctors{
        &--text{
            display: flex;
            // @include row();
            flex-direction: column;
            padding-left: 20px;
            // 20+
            &-upper{
                color: $white;
            }
            // Specialist
            &-lower{
                color: $light-blue;
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .hero{
        &__row {
            display: flex;
            flex-direction: column;
            gap: 0px;
    }

    &__block
    {
        &--left{
            position: absolute;
            top: 50%;
            left: 10%;
        }
        &--right{
            position: absolute;
            top: 50%;
            right: -6%;
        }
    }
    &__right{
        max-width: 670px;
        padding: 70px;
        &--doctors{
            transform: translate(-30%,40%);
        }
    }

    &__schedule{
        display: none;
        &--responsive{
            display: flex;
            gap: 16px;
            // display: block;
            color: $white;
            align-items: center;
        }
    }
    
}
}