// @mixin flexContainer($direction: flex, $justify: flex-start, $align: stretch) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: $justify;
//     align-items: $align;
// }

// display flex
  // @mixin row(){
  //   display: flex;
  // }

  @mixin main-bg(){
    background: url('../images/main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }