.container{
    max-width: 1170px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width:$tablet) {
    .container{
        max-width: 668px;;
    }
}

@media screen and (max-width:$mobile) {
    .container{
        max-width: 300px;
    }    
}