// Default font
$font-family: "Montserrat", sans-serif;

//font size
$base-font-size:20px;
$heading-font-size:48px;

//colors
$primary-color:#0B153C;
$light-blue:#17C2EC;
$white:#ffffff;
$grey: rgba(255, 255, 255, 0.70); 