.header {
    // background-color: $primary-color;
    background: linear-gradient(65deg, #362FCC 31.84%, #5D55FF 68.16%), var(--white);
    position: sticky;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: normal;
    &__logo {
        margin: 0;
    }
    &__nav {
        display: flex;
        list-style-type: none;
        gap: 32px;
        align-items: center; //Makes the content align with btn content
        
        &--item {
            // color: var($gery);
            color: $white;
        }
    }

    // for the button size
    &__item--btn{
        font-size: $base-font-size;
        line-height: normal;
    }

    &__toggle{
        display: none;
    }
}

// small screen
@media screen and (max-width:575px){
    // nav of desktop view
      .header__nav--item{
        display: none;
      }

      .header__toggle{
        background: transparent;
        display: block;
      }
}

//medium screen
@media screen and (max-width:768px){
    .header
    {
        &__nav {
            // for nav links
        &--item {
        font-size: 14px;
        }
        // For Sign Up btn
        &__item--btn{
            font-size: 16px;
        }
    }
}
}
