* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--Header-text, #343d33);
}

/* container for making center */
.container {
  padding: 80px;
  max-width: 1024px;
  margin: 0 auto;
}

/* Whole container */
.main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* All the images in the webpage */
img {
  width: 100%;
}

/* Top left img */
.img-content {
  max-width: 50%;
}

/* Top right content */
.text-content {
  max-width: 40%;
}

.text-content h1 {
  color: var(--white, #fff);
  font-family: Libre Baskerville;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 49.5px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.text-content p {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 10px;
}

.text-content a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 20px 56px;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--white, #fff);
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }

  .img-content {
    /* display: flex; */
    max-width: 100%;
    overflow: hidden;
  }
  /* .img-content figure img {
    object-fit: cover;
  } */

  .text-content {
    order: 3;
    max-width: 70%;
  }
}

/* FOR Mobile devices */
@media (max-width: 575px) {
  .container {
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
  }
  .text-content{
    max-width: 96%;
    text-align: center;
  }
  .text-content h1{
    font-size: 34px;
  }
  .text-content p{
    font-size: 16px;
  }
  
}
