* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--Header-text, #343d33);
}

.main {
  /* margin: 20px; */
  margin-top: 40px;
  margin-bottom: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}



.content {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap;  */
  margin: 20px;
  padding: 50px;
}

.img-content > img {
  width: 534px;
  height: 354px;
}

.text-content {
  max-width: fit-content;
  margin-left: 56px;
}

.text-content > h1 {
  color: var(--white, #fff);
  font-family: Libre Baskerville;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 49.5px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.text-content > p {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 10px;
}

.text-content > a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 20px 40px;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--white, #fff);
}

.bottom-img{
  margin-left: 70px;
}

/* Media Queries */
@media only screen and (max-width:1024px){
  .main{
    flex-direction: column;
  }
}




